node_modules
server/PersonalServer/bin
server/PersonalServer/obj
server/PersonalServer/.vs
/server/PersonalServer/bin/Debug/netcoreapp3.1/PersonalServer.dll
/server/PersonalServer/bin/Debug/netcoreapp3.1/PersonalServer.exe
/server/PersonalServer/.vs/PersonalServer/DesignTimeBuild/.dtbcache.v2
/server/PersonalServer/obj/Container/ContainerDevelopmentMode.cache
/server/PersonalServer/obj/Container/ContainerId.cache
/server/PersonalServer/obj/Container/ContainerName.cache
/server/PersonalServer/obj/Container/ContainerRunContext.cache
/server/PersonalServer/obj/Debug/netcoreapp3.1/apphost.exe
/server/PersonalServer/obj/Debug/netcoreapp3.1/PersonalServer.assets.cache
/server/PersonalServer/obj/Debug/netcoreapp3.1/PersonalServer.csproj.CoreCompileInputs.cache
/server/PersonalServer/obj/Debug/netcoreapp3.1/PersonalServer.csproj.FileListAbsolute.txt
/server/PersonalServer/obj/Debug/netcoreapp3.1/PersonalServer.csprojAssemblyReference.cache
/server/PersonalServer/obj/Debug/netcoreapp3.1/PersonalServer.dll
/server/PersonalServer/obj/Debug/netcoreapp3.1/PersonalServer.pdb
/server/PersonalServer/obj/PersonalServer.csproj.nuget.dgspec.json
/server/PersonalServer/obj/PersonalServer.csproj.nuget.g.props
/server/PersonalServer/obj/project.assets.json
/server/PersonalServer/obj/project.nuget.cache
