#app {
    font-family: Space Mono, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 60px;
}
* {
    background: #272727;
    //#0f2c30
    //#0f2222
    //background-color: #0f2222;
    color: #67ff88;
    font-size: 16px;
}