@import "@/assets/default.scss";
@import "@/assets/variables.scss";

.button {
    background-color: transparent;
    border: 0.125rem solid #4caf50;
    border-radius: 0.2rem;
    padding: 0.8rem 1.5rem;
    text-align: center;
    display: inline-block;
    font-size: 0.8rem;
    color: #75ebb0;
    cursor: pointer;
    transition: all 300ms;
    font-family: inherit;
    text-decoration: none;
  }
  .button:hover {
    //background-color: #cbffe5;
    box-shadow: inset 0 0 0.7rem 0.4rem #cbffe5;
    //box-shadow: 0 0 0.5rem #cbffe5;
    font-size: 0.9rem;
  }