/*----TEXT----*/
$text-1: #67ff88;
/*    HOVER    */
$text-hover-1: #cbffe5;
/*    Active    */
$text-active-1: #00cccc;

/*----BACKGROUNDS----*/
$background-1: #272727;
$background-2: #101314;
$background-3: #101314;
/*    HOVER    */
/*    ACTIVE    */

/*----BORDERS----*/
$border-1: #4caf50;
/*    HOVER    */
/*    ACTIVE   */

/*----BOX SHADOWS----*/
$box-shadow-1: #171818;
$box-shadow-2: #cbffe5;
/*    HOVER    */
/*    ACTIVE   */


/*----SVGS----*/
/*    HOVER    */
/*    ACTIVE   */
